<h1>Products</h1>

<div class="image-container">
  <% @products.each do |product| %>
    <div class="item-image">
    <div class="pinImage">
   
      <%= link_to image_tag(product.image), product %>
     
      
      
    
      </div>
      <%= link_to product.product_name, product %>
      <div>
      <%= link_to "add to cart"%>
      <input type="number"  value="1" min="1" />
      </div>
    </div>
    
  <% end %>
</div>

<%= link_to "New Product", new_product_path %>